<div ng-controller="calcController as calc">	
	<div class="calculator" ng-click="!calc.calcOpen && calc.pickUp()" ng-class="{'open': calc.calcOpen}">
	    <input type="text" value="{{calc.output}}" disabled />
	    <button class="bigger" ng-click="calc.calcOpen && calc.clear()">clear</button>
	    <button class="bigger" ng-click="calc.calcOpen && calc.delete()">delete</button>
	    <button ng-click="calc.calcOpen && calc.click('7')">7</button>
	    <button ng-click="calc.calcOpen && calc.click('8')">8</button>
	    <button ng-click="calc.calcOpen && calc.click('9')">9</button>
	    <button ng-click="calc.calcOpen && calc.click('-')">-</button>
	    <button ng-click="calc.calcOpen && calc.click('4')">4</button>
	    <button ng-click="calc.calcOpen && calc.click('5')">5</button>
	    <button ng-click="calc.calcOpen && calc.click('6')">6</button>
	    <button ng-click="calc.calcOpen && calc.click('*')">*</button>
	    <button ng-click="calc.calcOpen && calc.click('1')">1</button>
	    <button ng-click="calc.calcOpen && calc.click('2')">2</button>
	    <button ng-click="calc.calcOpen && calc.click('3')">3</button>
	    <button ng-click="calc.calcOpen && calc.click('/')">/</button>
	    <button ng-click="calc.calcOpen && calc.click('.')">.</button>
	    <button ng-click="calc.calcOpen && calc.click('0')">0</button>
	    <button ng-click="calc.calcOpen && calc.result()">=</button>
	    <button ng-click="calc.calcOpen && calc.click('+')">+</button>
	</div>
	<div class="closecalc" ng-show="calc.calcOpen" ng-click="calc.close()">put down</div>
</div>